@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-green: #c5f0a4;
  --color-yellow: #faffb8;
  --seablue-color: #35b0ab;
  --darkseablue-color: #226b80;
}

* {
  box-sizing: border-box;
}

.hero-img {
  background-image: url('./assets/wallpaper/desktop1.jpg');
}

.logo-img {
  background-image: url('./assets/wallpaper/logo.png');
}
