@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-green: #c5f0a4;
  --color-yellow: #faffb8;
  --seablue-color: #35b0ab;
  --darkseablue-color: #226b80;
}

html {
  scroll-behavior: smooth;

  /* background: hsla(260, 28%, 53%, 1);

  background: linear-gradient(
    90deg,
    hsla(260, 28%, 53%, 1) 0%,
    hsla(170, 42%, 71%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(260, 28%, 53%, 1) 0%,
    hsla(170, 42%, 71%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(260, 28%, 53%, 1) 0%,
    hsla(170, 42%, 71%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#7C65A9", endColorstr="#96D4CA", GradientType=1 ); */
}

* {
  box-sizing: border-box;
}

.hero-img {
  background-image: url('./assets/wallpaper/desktop1.jpg');
}

.logo-img {
  background-image: url('./assets/wallpaper/logo.png');
}

.hero-tab1 {
  background-image: url('./assets/foto/13.jpg');
  background-position: center;
  background-size: cover;
}

.hero-tab2 {
  background-image: url('./assets/foto/12.jpg');
  background-position: center;
  background-size: cover;
}

.hero-tab3 {
  background-image: url('./assets/foto/14.jpg');
  background-position: center;
  background-size: cover;
}

.tabGlobal:hover {
  transform: scale(200%);
}
