@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-green: #c5f0a4;
  --color-yellow: #faffb8;
  --seablue-color: #35b0ab;
  --darkseablue-color: #226b80;
}

html {
  background: whitesmoke;
}

* {
  box-sizing: border-box;
}

.hero-img {
  background-image: url('./assets/wallpaper/desktop1.jpg');
}

.logo-img {
  background-image: url('./assets/wallpaper/logo.png');
}

.hero-tab1 {
  background-image: url('./assets/foto/340756858_1245348042856771_4635811645720671973_n.jpg');
  background-position: center;
  background-size: cover;
}

.hero-tab2 {
  background-image: url('./assets/foto/273118153_1110389533073115_1147592491341016680_n.jpg');
  background-position: center;
  background-size: cover;
}

.hero-tab3 {
  background-image: url('./assets/foto/301796351_1245848232860577_6176424232152195290_n.jpg');
  background-position: center;
  background-size: cover;
}

.tabGlobal:hover {
  transform: scale(200%);
}
